.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container p {
  font-weight: 500;
  color: #333;
}

.button {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
}

.button:hover {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.icon {
  width: 20px;
  height: 20px;
}
