.productCard {
    width: 50%;
}

.itemCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImage {
    border: none;
    border-radius: 50%;
    margin-right: 50px;
}

.noImage{
    border: none;
    border-radius: 50%;
    margin-right: 50px;
}

.smallDescripDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0EEC6;
    border-radius: 10px;
    padding: 5px 20px;
}

.smallDescripOne {
    display: flex;
    gap: 0.3em;
}

.cardDescription {
    display:flex;
    gap: 0.3em;
    flex-direction: column;
}

.green {
     color: #1E3231;
}

.red {
    color: red;
}

