.contentPage {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.productsOverviewContainer {
    padding-top: 2em;
}

.upperPart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 1em; */
}

/* .showTablePart {
    
} */


