.backButton{
    background-color: var(--color-bg-hover);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    color: var(--color-font-primary);
    cursor: pointer;
    text-align: center;
    margin: 2% 0 1% 2%;
    width: 100px;
    height: 40px;
    transition: background-color 0.2s ease;
}

.backButton:hover{
    background-color: var(--color-border-primary);
    cursor: pointer;
}