.navPageWrapper {
  position: relative;
  width: 100%;
}

.link {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 666;
  padding: 8px 12px;
  background: white;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}