.editButton{
    margin-top: 10%;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.editButton:hover{
    cursor: pointer;
}

.modalBody {
    display: flex;         
    flex-direction: row;   
    gap: 30px;             
    align-items: flex-start; 
    margin: 20px;
}

.formFields {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fieldGroup label {
    font-size: 16px;
    color: var(--color-text-secondary);
}

.fieldGroup input {
    display: flex;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background-color: #e0eec6;
    padding: 10px;
    align-items: center;
}

.avatarSection {
    flex: 1; /* Takes up 1/3 of the width */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-left: 10px;;
}

.avatarCircle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid var(--color-border-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface);
    overflow: hidden;
}

.uploadBtn {
    font-size: 13px;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.buttonGroup{
    display: flex;
    gap: 30px;
    margin: 20px;
}

.saveButton{
    border: none;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    transition:
        background-color 0.1s ease,
        border-color 0.3s ease,
        color 0.1s ease,
        transform 0.2s ease;
}

.saveButton:hover{
    cursor: pointer;
    background-color: var(--color-info);
    color: var(--color-bg);
}

.cancelButton{
    border: none;
    border-radius: 10px;
    width: 120px;
    padding: 10px;
    background-color: none;
    transition:
        background-color 0.1s ease,
        border-color 0.3s ease,
        color 0.1s ease,
        transform 0.2s ease;
}

.cancelButton:hover{
    cursor: pointer;
    background-color: var(--color-danger);
    color: var(--color-bg);
}

.errorText {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ffe6e6;
    padding: 8px;
    border-radius: 5px;
}