.main {
  /* background-color: var(--color-primary-subtle); */
  background-color: var(--color-sub);
  width: 100%;
  height: 90%;
  color: var(--color-text-primary);
  border: 1px solid var(--color-primary-dark);
  border-radius: 20px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main h2 {
  color: var(--color-primary);
}

.content {
  /* background-color: red; */
  border-radius: 10px;
  height: 90%;
  overflow-y: auto;
  padding: 0.5rem;
}

.line {
  /* background-color: red; */
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #c4c3c3;
}

.greenColor {
  color: var(--color-success);
}

.redColor {
  color: var(--color-danger);
}

.record {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recordTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-primary);
}

.datetime {
  font-size: 13px;
  color: var(--color-text-muted);
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    height: auto;
    min-height: 300px;
  }

  .content {
    height: auto;
    min-height: 300px;
  }

  .contentNoData {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .record {
    flex-direction: row;
    gap: 10px;
  }
}
