.linkContainer{
    margin: 50 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 1200px;
}

.linkCard{
    position: relative;
    width: 350px;
    height: 200px;
    border: 1px solid;
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    flex-grow: 1;
}

.linkCard a{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;

}

.faqContainer{
    margin: 50 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.faqBanner{
    flex: 1;
}

.faqContent{
    display: flex;
    flex: 1 ;
    flex-direction: column;
    gap: 20px;

}

.faqContent p{
    color: var(--color-text-muted);
}