.fcon{
    margin: 20px;
    height: max-content;

}

.scon{
    margin: 20 10 20 20;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 300px;

}


.head{
    display: flex;
    justify-content: space-between;

    margin: 20 0;
}

.h1{
    color: var(--color-text-primary);
}

.button{
    padding: 10px;
    border: 2px solid var(--color-border-strong);
    border-radius: 10;
    color: var(--color-text-secondary);
    background-color: var(--color-primary-subtle);

}

.rightside{

    position: sticky;

    margin-left: 20px;
    margin-top: 20px;

    top: 80px;                 
    height: calc(100vh - 100px);
}

.specialDay{
    border: 1px solid #1a1010;
    border-radius: 10px;
   

    height: 25%;

    padding: 20px;

    margin: 10px 0;

    font-size: var(--text-5xl);

    text-align: center;

    justify-content: center;
    align-items: center;

    overflow: auto;
}

.blockReal{

    border: 1px solid #1a1010;
    border-radius: 10px;
    
    height: 60%;

    padding: 10;

}


.realTime{
    border: none;
   
    overflow-y: auto;

    height: 100%;



    padding: 10;
}

