.main {
  background-color: var(--color-bg-primary);
  height: auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bannerArea {
  background-color: var(--color-bg-surface);
  height: 300px;
}

.discountProductsArea {
  background-color: var(--color-bg-surface);
  height: auto;
  width: 100%;
  padding: 1rem 2rem;
}

.titleContainer {
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--color-primary);
}

.temp {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
