.filterBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.searchUserBar{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--color-font-primary);
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-bg-input);
}

.searchUser{
    display: flex;
    gap: 20px;
}

.roleDropdown{
    padding: 10px; 
    border-radius: 5px;
    border: none;
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-bg-input);
    color: var(--color-font-primary);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.roleDropdown:hover{
    background-color: var(--color-bg-hover);
}

.statusDropdown{
    padding: 10px; 
    border-radius: 5%;
    border: none;
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-bg-input);
    color: var(--color-font-primary);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.statusDropdown:hover{
    background-color: var(--color-bg-hover);
}

.roleAndStatus{
    display:flex;
    gap: 16px;
}