.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f0e6;
  padding: 2rem;
}

@media (max-width: 768px) {
  .main {
    padding: 0;
  }
}
