.filterBar {
  background-color: var(--color-bg-surface);
  /* background-color: var(--color-sub); */
  width: 100%;
  height: 10%;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 20px;
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filterDiv1 {
  /* background-color: blue; */
  width: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filterDiv2 {
  /* background-color: blue; */
  width: 20%;
}

.filter {
  /* background-color: red; */
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter label {
  font-weight: 450;
  color: var(--color-font-primary);
}

.filter select,
.button {
  width: 100%;
  padding: 0.4rem 2rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s;
  background-color: var(--color-bg-input);
  color: var(--color-font-secondary);
}

.filter select:focus,
.filter select:hover {
  border-color: var(--color-primary);
  cursor: pointer;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
}

@media (max-width: 768px) {
  .filterBar {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 10px;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .filterDiv1 {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filterDiv2 {
    width: 100%;
  }

  .filter {
    flex: 1;
    min-width: calc(50% - 5px);
    flex-direction: row;
    gap: 10px;
    padding: 0;
  }

  .filter select,
  .button {
    padding: 0.6rem 1rem;
  }
}
