.complete {
    background-color: #EEEBD0;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: fit-content;
}
.reportText {
    /* color: #ffffff; */
}

.inputsContainer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.eachInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}

.selectBox {
    padding: 5px;
    border-radius: 5px;
}

.backButton {
    background-color: #CE796B;
    border: none;
    height: 100%;
    align-self: flex-end;
    margin-bottom: 1px;
}

.generateButton {
    color: white;
    height: 100%;
}

.errorText {
    color: #b3261e;
    font-size: 13px;
}