.spinner_mini {
  margin: 0 auto;
  width: 20px;
  aspect-ratio: 1;

  border-radius: 50%;

  border: 3px solid transparent;
  border-top-color: var(--color-primary);
  border-right-color: var(--color-primary-light);

  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
