

.revenueCardContainer {
  background-color: var(--color-bg-card);
  border: 1px solid var(--color-border-primary);
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  width: 100%;
  min-height: 240px;
}


.chartWrapper {
  flex-grow: 1;
  width: 65%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  padding-top: 20px; 
}

