.openFormBtn {
    display: flex;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-light)
}

.openFormBtn:hover {
    background-color: var(--color-primary-lighter);
    color: var(--color-text-on-primary);
    cursor: pointer;
}

.formGroup {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.closeBtn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--color-font-secondary);
}

.formActions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.formGroup label{
    font-size: 16px;
    color: var(--color-text-primary);
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: bold;
}

.formGroup input{
    display: flex;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-border-primary);
    border-radius: 5%;
    background-color: var(--color-bg-input);
    color: var(--color-font-primary);
    padding: 10px;
    align-items: center;
    margin-top: 10px;
}

.cancelBtn {
    background-color:  var(--color-bg-hover);
    color: var(--color-font-primary);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.cancelBtn:hover{
    background-color: var(--color-font-secondary);
    color: var(--color-primary-subtle);
    cursor: pointer;
}

.submitBtn {
    background-color: var(--color-success);
    color: var(--color-primary-subtle);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.submitBtn:hover{
    transform: scale(0.97);
    background-color: var(--color-success-text);
    cursor: pointer;
}