.hide {
    visibility: hidden;
}

.evidenceShowContainer {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.navButton {
    background-color: var(--color-bg-surface);
    border-radius: 10px;
    border-color: var(--color-bg-surface);
}

.evidenceContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.evidenceTitle {
    display: flex;
    justify-content: center;
}

.evidenceImageContainer {
    display: flex;
    justify-content: center;
}